@model ShopDAL.DomainModel.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <h2>Basic File Upload</h2>
                @using (Html.BeginForm("Upload",
                        "Category",
                        new { id = Model.id },
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    <label for="file">Upload Image:</label>
                    <input type="file" name="file" id="file" /><br><br>
                    <input type="submit" value="Upload Image" />
                    <br><br>
                    @ViewBag.Message
                }
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CategoryText)
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.ChildOf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChildOf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChildOf, "", new { @class = "text-danger" })
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
