@model IEnumerable<ShopDAL.DomainModel.Product>

<table class="table table-striped">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
         
            <td>
             
                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.id }, new { width = "100px" })


            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    function addtoCart() {

        var recordToAdd = $(".AddProductToCart").attr("data-id");
        var countToAdd = $("#" + $(this).attr("txtid"));

        if (recordToAdd != '') {
            // Perform the ajax post
            //$.post("/ShoppingCart/AddToCart/"+"id="+ recordToAdd + "/"+"qty=" + countToAdd);
            $.post("/ShoppingCart/AddToCart", { "id": recordToAdd, "qty": countToAdd.val() },
            function (data) {
                var recordToAdd = $(".AddProductToCart").attr("data-id");
                var countToAdd = $("#qty").val();

            });
        }
    }
</script>